.about {
  opacity: 0;
  animation: moveContainer 2s ease-in-out 0.5s forwards;
}

.introduction .paragraph {
  max-width: 450px;
  line-height: 1.8;
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
}

.introduction {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  margin-bottom: 6.4rem;
}

.introduction:last-child {
  margin-bottom: 0;
}

.introduction-heading {
  position: relative;
  font-size: 3.6rem;
  color: var(--clr-primary);
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
  text-shadow: 0 2px 5px #000;
  transition: transform 0.3s ease-in-out;
}

.introduction-heading:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #0f172a;
  border-radius: 50%;
  z-index: -999;
}

.reverse-columns .introduction-heading {
  order: 2;
}

.reverse-columns .paragraph {
  order: 1;
}

@keyframes moveContainer {
  0% {
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(auto);
  }
}
