.projects {
  opacity: 0;
  animation: moveContainer 2s ease-in-out 0.5s forwards;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  gap: 3.2rem;
}

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
}

.project-image {
  border-radius: 0.8rem;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(60%);
  transition: filter 0.3s ease-in-out;
}

.project:hover img {
  filter: brightness(100%);
}

.project-info {
  padding: 1.6rem;
}

.project-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
}

.project-type {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  display: inline-block;
  margin-bottom: 1.6rem;
  padding: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.text-container {
  max-height: 10rem;
}

.project-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.project-link {
  padding: 0.4rem 0;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--clr-primary);
  transition: transform 0.3s ease-in-out;
}

.project-link:hover {
  transform: translateY(-2px);
}

.project-link:hover {
  color: var(--clr-primaryDim);
  text-decoration: underline;
}
